.navbar-top {
    box-shadow: 0 1px 9px rgba(226, 227, 233,1);
    background-color: $header-bg !important;
    // padding: .5rem 2rem;
    align-items: center;
    font-size: 1.4rem;
    height: 60px;
    line-height: 60px;

    .container {
        max-width: $grid-width;
    }

    &__toggle { 
        cursor: pointer;
        font-size: 16px;
    }

    &__right {
        .btn {
            font-size: 1.5rem;
            // border: 1px solid #eee;
            border: 1px solid #f1f1f1;
            background-color: #fefefe;
            color: $deep-blue;
            padding: .4rem .8rem;
        }

        .dropdown {
            &-item {
                font-size: 1.4rem;
            }
        }
    }

    
    // .nav {
    //     &--left {
    //         width:20%;
    //     }
    //     &--right {
    //         width:20%;

    //         li {
    //             width: 100%;
    //             text-align: right;
    //         }
    //     }
    // }

    // .navbar-nav {
    //     .nav-item {
    //         .nav-link {
    //             font-size: 1.3rem;
    //         }
    //     }
    // }
}