ul {
    list-style: none;
}

table {
    margin-bottom: 0 !important;
}

.card,
.card-header ,
.card-footer {
    border-color: $default-border-color;
}

.card {
    border-radius: $default-border-radius;
}