.calendar-widget {
    .table {
        display: table;
        
        tr {
            td {
                display: table-cell;
                padding: 1rem !important;
            }
        }
    }
}