.filter-bar {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 1rem 1rem 1rem 1rem;
    border-radius: $default-border-radius;
    width: 100%;

    .badge {
        position: absolute;
        z-index: 1000;
        background-color: #18c5a9;
        font-size: .9rem !important;
        font-weight: 700;
        font-family: "Open Sans",sans-serif;
        letter-spacing: .1rem;
        padding: .5rem .8rem;
        top:-1.9rem;
        left: 0rem;
        border-radius: 3px 3px 0 0; 
        text-transform: uppercase;
    }
    &>* {
        font-size: 1.4rem !important;
    }
    .form-filter {
        label {
            font-size: 1.1rem;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 0;
            padding: 0 .8rem;
            border: 1px solid #eee;
            border-radius: 3px;
            color: #000; // width: 9rem;
            text-align: center;
            background-color: #f9f9f9;
            // display: flex !important;
            align-items: center;
            padding: .5rem;
            vertical-align: center;
            width: 7rem;
            i {
                font-size: 1.1rem;
                position: relative;
            }
            small {
                text-align: center;
                font-size: .9rem;
                text-transform: capitalize;
                font-size: 1rem;
                font-weight: 700;
            }
        }
        select {
            // height: 3rem;
            font-size: 1.2rem;
            border-radius: 0;
            border-color: transparent;
            outline: none;      
            margin-top: 1rem;      
        }
    }
    .btn-report {
        font-size: 1rem;
        background-color: $deep-blue;
        padding: .9rem .8rem;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .15rem;
        box-shadow: 0 3px 6px rgba(155, 203, 251, .7);
        i {
            padding-right: .5rem;
            font-size: 1rem;
        }
    }
    .alert {
        display: none;
        h5 {
            font-size: 1.2rem;
        }
        p {
            font-size: 1.1rem;
        }
    }
}

// country dropdown