.spinner {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom , rgba(255,255,255,.8) 0%, 
                        rgba(255,255,255,1) 30%, 
                        rgba(255,255,255,1) 50%, 
                        rgba(255,255,255,1) 65%, 
                        rgba(255,255,255,.7) 100%);
    min-height: 100vh;
    display: none;
    z-index: -1;
    &.active {
        display: block;
        z-index: 9000;
    }
    .lds-grid {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .lds-grid div {
        position: absolute;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: rgba($deep-blue, .9);
        animation: lds-grid 1.2s linear infinite;
    }
    .lds-grid div:nth-child(1) {
        top: 6px;
        left: 6px;
        animation-delay: 0s;
    }
    .lds-grid div:nth-child(2) {
        top: 6px;
        left: 26px;
        animation-delay: -0.4s;
    }
    .lds-grid div:nth-child(3) {
        top: 6px;
        left: 45px;
        animation-delay: -0.8s;
    }
    .lds-grid div:nth-child(4) {
        top: 26px;
        left: 6px;
        animation-delay: -0.4s;
    }
    .lds-grid div:nth-child(5) {
        top: 26px;
        left: 26px;
        animation-delay: -0.8s;
    }
    .lds-grid div:nth-child(6) {
        top: 26px;
        left: 45px;
        animation-delay: -1.2s;
    }
    .lds-grid div:nth-child(7) {
        top: 45px;
        left: 6px;
        animation-delay: -0.8s;
    }
    .lds-grid div:nth-child(8) {
        top: 45px;
        left: 26px;
        animation-delay: -1.2s;
    }
    .lds-grid div:nth-child(9) {
        top: 45px;
        left: 45px;
        animation-delay: -1.6s;
    }
    @keyframes lds-grid {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
    } 
}