$higlight-row-color: rgba(170, 211, 223, .2);
$table-text-color: #2d2d2d;
.table-states {
    // height: 40rem;
    // overflow-y: scroll;
    font-size: 1.3rem;
    color: $table-text-color;
    border-radius: $default-border-radius 0 0 $default-border-radius;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
    &__header {
        font-size: 1.3rem;
        font-weight: 500;
        color: #34495f;
        padding: 1.8rem 1.5rem;
        background-color: transparent;
        text-transform: uppercase;
    }
    &__footer {
        padding: .8rem;
        background-color: #fff;
        a {
            text-transform: uppercase;
            font-weight: 700;
            background-color: $deep-blue;
            color: #fff;
            font-size: 1.1rem;
            padding: 1.5rem 0;
            border-radius: 0;
            letter-spacing: .08em;

            &:hover {
                background-color: darken($deep-blue, 5);
            }
        }
    }
    .table {
        thead > tr > th {
            font-weight: 700;
        }
        th,
        td {
            border: none;
            padding: 1.1rem 1rem;
        }
        tr {
            &.hidden {
                display: none;
            }
            &.visible {
                display: table-row;
            }
            &>th {
                font-weight: 300;
            }
            &.highlight {
                background-color: $higlight-row-color;
            }

            &:last-of-type {
                // border-bottom: 1px solid $default-border-color;
            }
        }
    }
}

.dataTables_wrapper .row {
    // border-bottom: 1px solid #eee;
    // padding-bottom: .8rem;
}

.dataTables_info {
    font-size: 1.2rem;
    color: #333;
}


.page-item.active .page-link {
    border-color: $deep-blue;
    background-color: $deep-blue;
}