$color_1: #5a68bf;
$color_2: #18c5a9;
$color_3: #3499e2;
$color_text: #5b5b5b;
.user-info-box {
    font-size: 1.5rem;
    border: 1px solid $default-border-color;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    padding: 1.1rem .8rem;
    border-radius: $default-border-radius;
    .chart {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &__icon {
            font-size: 2rem;
            position: absolute;
            top: 50%;
            transform: translate(0, -58%);
            &--1 {
                color: $color_1;
                left: 21px;
            }
            &--2 {
                color: $color_2;
                left: 22px;
            }
            &--3 {
                color: $color_3;
                left: 18px;
            }
        }
    }
    &__right {
        width: 70%;
    }
    &__chart {
        flex: 1;
    }
    &__value {
        display: block;
        font-size: 2rem;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        &--1 {
            color: $color_1;
        }
        &--2 {
            color: $color_2;
        }
        &--3 {
            color: $color_3;
        }
    }
    &__text {
        display: block;
        font-size: 1.2rem;
        color: $color_text;
        font-weight: 500;
        // text-transform: uppercase;
    }
}